body {
	margin:0;
	padding:0;
	background:@body-color-bg;
	font-family:@type;
	font-size:@body-text-size;
}
ul {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
li {
	padding:0;
	margin:0;
}
.content {
	width:100%;
	margin-top:200px;
	font-size:20px;
	color:@body-color-text;
	text-align: center;
}